@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
    --primary-color: #00bfff;
    --background-color: #1a1a1a;
    --text-color: #fff;
    --border-color: #333;
    --secondary-color: royalblue;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 450px;
    max-width: 500px;
    padding: 20px;
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--background-color);
    color: var(--text-color);
    border: 1px solid var(--border-color);
}

.title {
    font-size: 28px;
    font-weight: 600;
    letter-spacing: -1px;
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 30px;
    color: var(--primary-color);
}

.message,
.signin {
    font-size: 14.5px;
    color: rgba(255, 255, 255, 0.7);
}

.signin {
    text-align: center;
}

.signin a:hover {
    text-decoration: underline var(--secondary-color);
}

.signin a {
    color: var(--primary-color);
}

.flex {
    display: flex;
    width: 100%;
    gap: 6px;
}

.form label {
    position: relative;
}

.form label .input {
    background-color: var(--border-color);
    color: var(--text-color);
    width: 100%;
    padding: 20px 05px 05px 10px;
    outline: 0;
    border: 1px solid rgba(105, 105, 105, 0.397);
    border-radius: 10px;
}

.form label .input+span {
    color: rgba(255, 255, 255, 0.5);
    position: absolute;
    left: 10px;
    top: 0px;
    font-size: 0.9em;
    cursor: text;
    transition: 0.3s ease;
}

.form label .input:placeholder-shown+span {
    top: 12.5px;
    font-size: 1.3em;
}

.form label .input:focus+span,
.form label .input:valid+span {
    color: var(--primary-color);
    top: 0px;
    font-size: 0.7em;
    font-weight: 600;
}

.input {
    font-size: medium;
}

.submit {
    width: 100%;
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 10px;
    color: var(--text-color);
    font-size: 16px;
    transform: .3s ease;
    background-color: var(--primary-color);
}

.submit:hover {
    background-color: rgba(0, 191, 255, 0.6);
}

.select {
    background-color: var(--border-color);
    color: var(--text-color);
    width: 100%;
    padding: 0px 10px 0px 10px;
    outline: none;
    border: 1px solid rgba(105, 105, 105, 0.397);
    border-radius: 10px;
    font-size: medium;
    height: 50px;
}

.select option {
    background-color: var(--background-color);
    color: var(--text-color);
    font-size: medium;
}

.select::after {
    content: "\25BC";
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    color: rgba(255, 255, 255, 0.5);
}

.select:hover::after {
    color: var(--primary-color);
}

.select:focus::after {
    color: var(--primary-color);
}

.select:valid::after {
    color: var(--primary-color);
}