.pageNmae {
  font-size: 30px;
  color: black;
  text-align: center;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
}

hr {
  width: 85%;
  margin-left: 15%;
  margin-top: 10px;
}

.cards {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: left;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-left: 18%;
  align-items: left;
  padding: 5px 0px;
}

.img {
  width: 150px;
  height: 150px;
}

.container {
  max-width: 1200px;
  margin: 3rem auto;

}

.buttonsContainer {
  padding: 20px;
  display: flex;
  gap: 2rem;
  justify-content: center;
}

.reqBtn {
  background-color: green;
  width: 100%;
}

.buttons {
  display: flex;
  gap: 2rem;
}


.btn {
  padding: 1rem 2rem;
  cursor: pointer;
  border: none;
  color: white;
  margin-left: 18%;
}

.flex {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.title {
  margin: 0px;
}

.addBtn {
  background-color: green;
  padding: 1rem 2rem;
  cursor: pointer;
  border: none;
  color: white;
}

.editBtn {
  background-color: rgb(168, 168, 16);
}

.deleteBtn {
  background-color: red;
}