.cards {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: left;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-left: 18%;
  align-items: left;
  padding: 5px 0px;
}

.img {
  width: 150px;
  height: 150px;
}

.container {
  max-width: 1200px;
  margin: 3rem auto;
}

.buttons {
  display: flex;
  gap: 2rem;
}

.btn {
  padding: 1rem 2rem;
  cursor: pointer;
  border: none;
  background-color: black;
  color: white;
}

.flex {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.title {
  margin: 0px;

}


.addBtn {
  background-color: green;
}

.editBtn {
  background-color: rgb(168, 168, 16);
}

.deleteBtn {
  background-color: red;
}