@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --primary-color: #00bfff;
  --background-color: #1a1a1a;
  --text-color: #fff;
  --border-color: #333;
  --secondary-color: royalblue;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.formSection {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  padding: 2rem;
}

.gif {
  width: 100%;
  object-fit: cover;
  height: 200px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  object-position: top;
}

.fa-xmark {
  position: absolute;
  font-size: 2rem;
  cursor: pointer;
  top: -13px;
  right: -12px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  background-color: white;
}

form {
  position: relative;
  border-radius: 12px;
  font-family: "Raleway", sans-serif;
  width: 450px;
  background-color: white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

}

form p {
  text-align: center;
  margin: 1rem;
}

.inputDiv {
  width: 100%;
  background-color: rgb(5, 5, 5);
  margin: 2rem 0rem;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input,
textarea {
  border-top: none;
  border-left: none;
  border-right: none;
  outline: none;
  border-bottom: 1px solid rgb(209, 204, 204);
  width: 100%;
  padding: 0.7rem 2rem;
}

textarea {
  min-height: 15vh;
}

.formPadding {
  padding: 1rem;
}

.btnDiv {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btnSend {
  margin: 2rem auto;
  padding: 1rem 2rem;
  outline: none;
  border: none;
  background-color: #141414;
  width: 90%;
  cursor: pointer;
  color: white;
}

.message {
  font-size: 1.5rem;
}

.signInMessage {
  font-size: 1.4rem;
  cursor: pointer;
}

.signInMessage:hover {
  color: rgb(54, 54, 54)
}

.selectDiv {
  width: 100%;
  margin: 2rem 0;
}

select {
  border-top: none;
  border-left: none;
  border-right: none;
  outline: none;
  border-bottom: 1px solid rgb(209, 204, 204);
  width: 100%;
  padding: 0.7rem 2rem;
  background-color: transparent;
  color: rgb(117 117 117);
}

select option {
  background-color: #1a1a1a;
  color: white;
}